.joinNewsletter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  
    background-color: #0D0D0D;
  
    border-radius: 5px;
  
    padding: 17px 14px 14px 14px;
  
    &__heading {
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color: #fff;
    }
  
    &__input {
      height: 40px;
      width: 60%;
  
      padding: 11px;
  
      font-family: 'Poppins';
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      border-radius: 4px 0 0 4px;
      color: #fff;
  
      background-color: #1A1A1A;
    }
  
    &__btn {
      height: 40px;
      width: 40%;
      padding: 10px 20px;
  
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: #fff;
      text-align: center;
  
      background-color: #000;
  
      border-radius: 0 4px 4px 0;
    }
  
    &__text {
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: #FFFFFF;
      opacity: 0.5;
    }
  }